@using Contoso.Pages.Constants
@{
    Layout = Layouts.Default;
}

<h1>@ViewData[Data.Title]</h1>

<h3>@Texts.Delete</h3>

<h5>@Texts.DeleteQuestion</h5>

<hr />

<dl class="row">
    @RenderBody()
</dl>

<form asp-action="Delete">
    <input type="hidden" asp-for="@ViewData[Data.ItemID]" />
    <input type="submit" value="@Texts.Delete" class="btn btn-danger" /> |
    <a asp-action="Index">@Texts.BackToList</a>
</form>