@using Contoso.Pages.Constants;
@{
    Layout = CommonViewStrings.Layout;
    ViewData[ViewDataStrings.Title] = DetailsViewStrings.DetailsTitle;
}

<h1>@ViewData[ViewDataStrings.Caption]</h1>

<div>
    <h4>@ViewData[ViewDataStrings.Title]</h4>
    <hr />
    <dl class="row">
        @RenderBody()
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@ViewData[ViewDataStrings.ItemID]">@ViewData[CommonViewStrings.Edit]</a>
    <a asp-action="Index">@ViewData[CommonViewStrings.BackToList]</a>
</div>