@using Contoso.Pages.Constants
@{
    Layout = Layouts.Default;
}

<h1>@ViewData[Data.Title]</h1>

<h3>@Texts.Details</h3>

<hr />

<dl class="row">
    @RenderBody()
</dl>

<a asp-action="Edit" asp-route-id="@ViewData[Data.ItemID]">@Texts.Edit</a> |
<a asp-action="Index">@Texts.BackToList</a>