@using Contoso.Pages.Constants

@{
    Layout = Layouts.Default;
    int pageIndex = toInt(ViewData[Datas.PageIndex]);
    int pageCount = toInt(ViewData[Datas.TotalPages]);
    
    var disabledFirstPrev = (pageIndex == 0) ? "disabled" : string.Empty;
    var disabledNextLast = (pageIndex == pageCount - 1) ? "disabled" : string.Empty;
    var showMessage = $"Page {pageIndex + 1} of total pages {pageCount}";
    
    int toInt(object? o) {
        var s = o?.ToString();
        if (s is null) return 0;
        int i;
        var b = int.TryParse(s, out i);
        return b ? i : 0;
    }
}

<h1>@ViewData[Datas.Title]</h1>

<h3>@Texts.Index</h3>

<hr />

<p>
    <a asp-action="@Actions.Create">@Texts.Create</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="SearchString" value="@ViewData[Datas.CurrentFilter]" />
            <input type="submit" value="Search" class="btn btn-light" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>

@RenderBody()

<div>
    <a asp-action="Index"
       asp-route-pageIndex="0"
       class="btn btn-secondary @disabledFirstPrev">
        First
    </a>&nbsp;
    <a asp-action="Index"
       asp-route-pageIndex="@(pageIndex - 1)"
       class="btn btn-secondary @disabledFirstPrev">
        Previous
    </a>&nbsp;
    @showMessage
    &nbsp;
    <a asp-action="Index"
       asp-route-pageIndex="@(pageIndex + 1)"
       class="btn btn-secondary @disabledNextLast">
        Next
    </a>&nbsp;
    <a asp-action="Index"
       asp-route-pageIndex="@(pageCount - 1)"
       class="btn btn-secondary @disabledNextLast">
        Last
    </a>&nbsp;
</div>