@using Contoso.Pages.HtmlHelpers
@model Instructor

@Html.ControllerFor(x => x.LastName)
@Html.ControllerFor(x => x.FirstMidName)
@Html.ControllerFor(x => x.HireDate)
@Html.ControllerFor(x => x.OfficeAssignment.Location)

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <table>
            <tr>
                @{
                    int cnt = 0;
                    List<Contoso.Facade.AssignedCourseData> courses = ViewBag.Courses;
                    foreach (var course in courses) {
                        if (cnt++ % 3 == 0) {
                            @:</tr><tr>
                        }
                        @:<td>
                        <input type="checkbox"
                        name="selectedCourses"
                        value="@course.CourseID"
                        @(Html.Raw(course.Assigned ? "checked=\"checked\"" : "")) />
                        @course.CourseID @:  @course.Title
                        @:</td>
                    }
            @:</tr>
                }
        </table>
    </div>
</div>